.header{
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);

  z-index: 100;
}
.left-section{
  display: flex;
  align-items: center;
}

.middle-section{
  flex: 1;
  margin-left:70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 18px;
  flex-shrink: 0;
}
.hamburger-menu{
height: 24px;
 margin-left: 24px;
 margin-right: 24px;
 cursor: pointer;
}
.youtube-logo{
height: 20px;
cursor: pointer;

}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}
.search-button,
.voice-button,
.upload-icon-container,
.youtubeapp-container,
.notification-icon-container
 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
   cursor: pointer;
}


.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip, 
.youtubeapp-container .tooltip,
.notification-icon-container .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip, 
.youtubeapp-container:hover .tooltip,
.notification-icon-container:hover .tooltip
{
  opacity: 1;
}


.voice-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  
}
.search-bar{
  flex:1;
  height: 34px;
  padding-left: 10px;
 
  border-radius: 2px;
  border: 1px solid rgb(192,192,192);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}
.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;

}
.search-icon{
  height: 25px;
 
  
}
.voice-icon{
  height: 25px;
  
}
.upload-icon{
height: 24px;

}
.youtube-apps{
height: 24px;
cursor: pointer;
}
.notification-icon{
height: 24px;
cursor: pointer;

}
.user-profile-image{
height: 32px;
border-radius: 16px;
cursor: pointer;
}
.notification-icon-container{
  position: relative;

}
.notification-count{
 position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  

}

.subscriptions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(234, 234, 234);
  background-color: white;
  position: sticky;
  top: 56px;
  z-index: 100;
}

.subscriptions-left {
  font-size: 20px;
  font-weight: 500;
  color: rgb(15, 15, 15);
}

.subscriptions-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.manage-button {
  padding: 10px 16px;
  background-color: rgb(255 255 255);
  border: 1px solid rgb(204, 204, 204);
  border-style: none;
  border-radius: 18px;
  font-family: 'Roboto', Arial;
  font-size: 14px;
  font-weight: 500;
  color: rgb(6 95 212);
  cursor: pointer;
  transition: background-color 0.1s;
}

.manage-button:hover {
  background-color: rgb(222 241 255);
}

.manage-button:active {
  background-color: rgb(200 230 255);
}

/* Common button styles */
.grid-button,
.list-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.15s;
}

/* Hover effect */
.grid-button:hover,
.list-button:hover {
  background-color: rgb(240, 240, 240);
}

/* Click effect (:active pseudo-class) */
.grid-button:active,
.list-button:active {
  background-color: rgb(220, 220, 220);
  transform: scale(0.95); /* Optional: slight shrink effect on click */
}

/* Grid button specific */
.grid-button img {
  width: 30px;
  height: 25px;
}

/* List button specific */
.list-button img {
  width: 30px;
  height: 50px;
}